@font-face {
font-family: 'din';
src: url('fonts/din.eot');
src: url('fonts/din.eot?#iefix') format('embedded-opentype'), url('fonts/din.woff') format('woff'), url('fonts/din.ttf') format('truetype'), url('fonts/din.svg#din') format('svg');
font-weight: normal;
font-style: normal;
}

body {	
    color:#fff;
    background:#2B2D2D; 
    font-family:"Roboto",Helvetica,Arial,sans-serif ; 
}

.bg-beige {background:#93885a;}
.bg-blanc {background: #fff}
.bg-gris {background: #646666;}
.bg-gris-fonce {background: #2B2D2D;}
.bg-transition{
    background: linear-gradient(#93885a, #2B2D2D, #93885a);
    height: 10px;
    width: 10px;
}

/*Titres*/
h1,h2,h4,h5 { font-weight:normal; font-family: "Roboto",Helvetica,Arial,sans-serif ;margin: 0;padding: 0;color: #fff}
h3{ font-weight: bold; font-family: "Roboto",Helvetica,Arial,sans-serif ;margin: 0;padding: 0;color: #fff}
h1{font-size: 25px; margin-bottom: 25px;color: #fff;}
h2{font-size: 24px; letter-spacing: -1px;margin-bottom: 20px; font-weight: bold;}
h3{margin: 0 0 15px 0; font-size: 25px; font-family:"Roboto",Helvetica,Arial,sans-serif ; }
h4{margin: 10px 0; font-size: 19px;text-align: center; font-size: 18px; font-weight: bold;}
h5{margin: 0 0 5px 0; font-size: 13px; font-weight: bold;
padding-top: 10px; text-transform: uppercase; padding-bottom:10PX}
h6{margin: 0 0 10px 0; font-size: 14px;}

h4 span{margin-right: 5px; font-size: 15px;}
h6 span{margin-right: 5px; font-size: 12px;}

.page-header {
    padding-bottom: 9px;
    margin: -30px 0 10px !important;
    border-bottom: 1px solid #eeeeee;
	font-weight: bold;
}

.sl-slider h2 {
    font-size: 35px !important;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
}

.sl-slider h2, .sl-slider blockquote {
    padding: 30px 20px 3px 0 !important;
    width: 100%;
    max-width: 1140px;
    color: #fff;
    margin: 0 auto;
    position: relative;
    z-index: 100;
    border: none;
}

iframe {
    border: none;
}

 /* Pagination links */
.pagination a {
    color: #fff;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
    background-color:#93885a;
    color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;} 

p{
    margin-bottom: 15px; 
    font-family:"Roboto",Helvetica,Arial,sans-serif ; 
    font-size: 16px;
    padding-left:15px; 
    padding-right:15px;
    text-align:justify;
    color:#fff;
}

a{color:#2B2D2D; text-decoration:none;outline: none;}
a:hover{color:#fff;}
.spacer{margin-top: 40px;margin-bottom:40px;}
.center{text-align: center;}
.fullwidth{width: 100%;}
.cause{border: 1px #ddd solid; box-shadow: 0px 1px 1px rgba(0,0,0,0.075) inset; border-radius: 8px; margin-bottom:20px;}
select,input{outline: 0; margin-bottom: 20px;}
a.more{background-color: #222; padding: 2px 6px;color: #fff; text-transform: uppercase; font-size: 11px;}
a.more:hover{background: #64a30a;text-decoration: none;}

table{background-color: #2B2D2D;}

.btn{border-radius: 5px; font-family: din; outline: none;}
.btn-success{ background: #2B2D2D;border:1px solid #93885a;padding:6px 10px; font-size:16px; width: 150px; }
.btn-primary{ background: #64a30a;border:none;width: 100%;border-radius: 20px;}
.btn-info{background: #333;border:4px solid #ddd;padding: 3px 20px; font-size:20px; border-radius: 20px;  }

.thumbnail{ background-color:#2B2D2D;}
.header ul li.active{ background:linear-gradient(#93885a,#2B2D2D); height:80px; border-top: 3px solid #93885a; margin-top: 5px;}
.header {padding:5px 0;}
.header ul{list-style: none;margin: 0; padding: 0;margin-top:10px;}
.header ul li{ display: inline-block; padding: 0 0 0 10px;}
.header ul li a{ font-size: 13.5px;font-family:"Roboto",Helvetica,Arial,sans-serif;text-transform: uppercase; color: #fff;font-weight: bold;}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 60px !important;
}

.navbar-collapse.nav ul li ul {
 display: inline;
 }

.nav > li > a {
    position: relative;
    display: block;
    padding: 27px 11px !important;
        padding-top: 10px;
        padding-bottom: 10px;
}

.sl-slider-wrapper {

    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin-top: -5px !important;

}

.header ul li a:hover{text-decoration: none;}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px;
    margin-top: -10px !important;
}

.navbar-inverse{background-color: #93885a;}
.navbar-inverse .navbar-nav > li > a{font-size: 11px;padding-top: 10px;padding-bottom: 10px;font-family: din;text-transform: uppercase;}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{background-color: #72b70f;}

.banner-search{background:url(../images/bginside.jpg) #111;color: #fff;padding: 20px 0 10px 0; font-size: 16px;}
.banner-search h3{color: #fff;}

.properties-listing .viewall{margin-top: 15px;}
.properties-listing div.properties{padding: 10px; background-color: #fff;text-align: center; margin-bottom: 20px;}
.owl-wrapper-outer div.properties{margin: 0 5px;}
.properties-listing div.properties .image-holder{position: relative;}
.properties-listing div.properties .status{position: absolute;bottom: 0;z-index: 100;display: block;width: 100%;color: #fff;padding:0 3px;text-align: right; font-size: 12px;}
.properties-listing div.properties p{margin-bottom: 10px; font-size: 14px;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 5px 0;font-family: din;}

.listing-detail{margin-bottom: 30px;}
.listing-detail span{color: #fff; width: 25px; height: 25px; background-color: #555;display: inline-block;border-radius:25px; text-align: center;line-height: 26px; font-size: 14px;cursor: crosshair;}
.listing-detail span:hover{background: #72b70f;}

.status.sold{background:rgba(104,167,13,0.8);}
.status.new{background:rgba(190,7,46,0.8);}

.recommended{position: relative;}
.recommended .carousel-indicators{position: absolute;text-align: left;left: 0;bottom: -40px;margin: 0;}
.recommended .carousel-indicators li{border: 1px solid #888;}
.recommended .carousel-indicators .active{background-color:#2B2D2D; }
.recommended p{margin: 5px 0 10px 0;}

.modal-content{padding: 20px;}
.login .form-group input{padding: 10px; height: 50px;}

.register input{padding: 10px; height: 50px;}
.contact input{padding: 10px; height: 50px;}
.register input,.register textarea,.contact input,.contact textarea{ margin-bottom: 15px;}
.login button,.register button,.contact button{width: 30%;border-radius: 5px; margin-top: 1px;}

/*inside*/
.inside-banner{background:#f2f2f2;color: #fff; padding:2px 0; font-weight: bold; margin-top: -5px;}
.inside-banner h2{margin: 0; color: #fff;}
.inside-banner span{margin-top: 10px;}

.search-form {margin-bottom: 50px;}
.search-form h4{margin: 17px 0;}

.hot-properties {margin-bottom: 50px;}
.hot-properties img{width: 68px; height: 68px;}
.hot-properties h4{margin-bottom: 20px;}
.hot-properties .row{margin-bottom: 20px;}
.hot-properties .row p{margin-bottom: 5px;}

.sortby .result{margin-top: 10px;}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #2B2D2D;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-top: 30px !important;
}

.property-info{margin:0 0 30px 0;}
.property-info span{margin-right: 5px;}
.property-info p{margin-bottom:10px; }
.property-info p.price{font-size: 28px;color: #72b70f;padding:0;border-radius: 5px;}
.property-info .profile{margin-top: 30px;}
.property-info .profile p{padding-left: 20px; color: #999;}

.enquiry input,.enquiry textarea{margin-bottom: 10px;}
.enquiry button{border-radius: 5px;}

.blog .info{color: #999;margin-bottom: 10px;font-size: 12px;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{background-color: #72b70f;border-radius: 0;color: #fff;border: none;}
.blog .tabbable .tab-content ul li{margin: 15px 0;}
.blog .row{margin-bottom: 50px;}

.agents .row{margin-bottom:40px; }
.agents .row h4{margin: 0;}

.sl-slider-wrapper {
    width: 100%;
    height: 356px !important;
    overflow: hidden;
    position: relative;
}
#menu {
    position: relative;
    top: 0;
}

#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#menu-deroulant li:hover{
    background: #2B2D2D;
}

#menu-deroulant {
/* on centre le menu dans la page */
    text-align: right;
}

#menu-deroulant li {
/* on place les liens du menu horizontalement */
    display: inline-block;
	margin-top: -5px;
}

#menu-deroulant ul li {
/* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
}

#menu-deroulant a {
    text-decoration: none;
    display: block;
	color:#fff;
	font-family:"Roboto",Helvetica,Arial,sans-serif ; 
}

#menu-deroulant ul {
    position: absolute;
/* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
    z-index: 1000;
	background: #2B2D2D;
	width: 200px;
	padding-right: 10px;
}

#menu-deroulant ul li a{ line-height:3}
#menu-deroulant ul li a:hover{ background:#93885a;}
#menu-deroulant li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    left: auto;
}

#nestle-section{
    float:left;
    width:300px;
    position:relative;
	 margin-top:20px;
	 border: 1px solid #ccc;
border-radius: 7px;
margin-bottom: 25px;
}

#nestle-section label{
    float:left;
    width:100%;
    background:#2B2D2D;
    color:#fff;
    padding:5px 0;
    text-align:center;
    cursor:pointer;
    border-bottom:1px solid #fff;
	font-size: 17px;
}

#nestle-section .tab-content1{
    float:left;
    width:280px;
    padding:0 10px;
    height:0;
    -moz-transition: height 1s ease;
    -webkit-transition: height 1s ease;
    -o-transition: height 1s ease;
    transition: height 1s ease;
    overflow:hidden;
}

#nestle-section  input:checked + label + .tab-content1{
    padding: 10px;
    height: 250px;
    -moz-transition: height 1s ease;
    -webkit-transition: height 1s ease;
    -o-transition: height 1s ease;
    transition: height 1s ease;
}
#nestle-section input:checked + label{
    background:#2B2D2D;
    color:#fff;
}
#nestle-section input{
    display:none;
}

/* Style the Image Used to Trigger the Modal */
#myImg1 , #myImg2 , #myImg3 , #myImg4, #myImg5, #myImg5, #myImg6,#myImg7, #myImg8, #myImg8, #myImg9, #myImg10, #myImg11, #myImg12, #myImg13, #myImg14, #myImg15,#myImg16, #myImg17, #myImg18, #myImg19, #myImg20,#myImg21, #myImg22, #myImg23,#myImg24,#myImg25,#myImg26,#myImg27,#myImg28,#myImg29,#myImg30, #myImg31, #myImg32, #myImg33, #myImg35, #myImg36, #myImg37, #myImg38, #myImg39, #myImg40, #myImg41, #myImg42, #myImg43,#myImg44{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
} 

/*footer*/
.footer{background:#2B2D2D; padding:3px 0; color: #fff; margin-top: 15px;} 
.footer h4{color: #fff;border-bottom: 2px solid #131313;margin-bottom: 10px;padding-bottom: 10px;}
.footer ul{list-style: none;padding: 0; }
.footer a:hover{color: #fff;}
.footer p.copyright{margin: 20px 0 15px 0; text-align: center;
font-weight: bold; }

@media (max-width: 600px) {
.header{text-align: center;}
.header ul{width: 100%;margin-bottom: 20px;}
.header ul li{padding: 0 20px;}
h1{font-size: 40px;}
h2{font-size: 25px;}
.login {margin-bottom: 40px;}
.searchbar button{margin-bottom: 40px;}
.footer .col-sm-3{margin-bottom: 30px;}
.agents img{ margin-bottom: 20px;}
}